div {
	.photo {
		border-radius: 20%;
	}
	input {
		display: flex;
	}
	.adoption {
		height: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		color: black;
		background-image: url("https://cdn.pixabay.com/photo/2019/08/19/07/45/pets-4415649__480.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}
}
