.Login {
	form {
		button {
			margin: 0 auto;
			justify-content: center, space-between;
			align-items: center;
			display: flex;
		}
		input {
			justify-content: center;
			align-items: center;
			display: flex;
			margin: 0 auto;
		}
	}
	.random {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

.text {
	background-size: auto;
	border-radius: 10%;
	font-size: 44px;
}
.image {
	border-radius: 10%;
}
