body {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url("https://cdn.pixabay.com/photo/2019/09/14/23/14/dogs-4477058_960_720.jpg");
}
