body {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url("https://cdn.pixabay.com/photo/2019/08/30/15/05/border-collie-4441585__340.jpg");
}
