// div {
// 	.social {
// 		margin: 0 auto;
// 		justify-content: center;
// 		display: flex;
// 		height: 100%;
// 	}
// }
.map {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 50%;
}
