.training-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	width: 100%;
	font-family: "Philosopher", sans-serif;
	.training-title {
		color: white;
		justify-content: center;
		align-items: center;
		display: flex;
		margin-top: 15px;
		font-size: 28px;
		font-weight: bold;
	}
	h1 {
		background-color: gray;
		color: white;
		font-size: 24px;
		justify-content: center;
		display: flex;
		align-items: center;
		border-radius: 2%;
		opacity: 0.8;
	}
	a {
		background-color: white;
		color: blue;
		font-size: 22px;
		justify-content: center;
		display: flex;
		align-items: center;
		opacity: 0.8;
	}
}
