.appPage {
	.styled {
		width: 120px;
		background-color: gray;
		color: white;
		font-size: 22px;
		justify-content: center;
		display: flex;
		align-items: center;
		border-radius: 10%;
	}
}
div {
	.inputs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
	}
	.apps {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
}
