header {
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// height: 100%;
	max-width: 3000px;
	width: 100%;
	margin: 0 auto;
	font-size: 28px;
	font-family: "Chilanka", cursive;

	.Dogvengers {
		color: white;
		font-weight: bold;
	}
	nav {
		ul {
			display: flex;

			li {
				margin: 0 10px;
				font-size: 22px;
				a {
					display: block;
					color: white;
					text-decoration: none;
					transition: 1s;
					&:hover {
						color: red;
						transform: rotate(20deg);
					}
				}
			}
		}
	}

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
	}
}
.button {
	display: none;
}
@media screen and (max-width: 700px) {
	header nav {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		min-height: 100vh;
		transform: translate(300px, 0);
		transition: 0.3s;
		transition-timing-function: ease-in-out;
	}
	.show {
		transform: translate(0, 0);
	}
	header nav > ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 300px;
		padding: 90px;
		min-width: 100px;
		background-color: #050505;
		border-radius: 0.5rem;
		line-height: 35px;
	}
	.button {
		// position: fixed;
		top: 20px;
		right: 20px;
		height: 50px;
		width: 100px;
		background: black;
		color: white;
		z-index: 2;
		display: initial;
		font-size: 35px;
		border-radius: 0.5rem;
	}
	.random {
		justify-content: space-between;
		align-items: center;
		display: flex;
	}
	img {
		width: 400px;
		height: 375px;
	}
}
